REACT_APP_WEBCAPTIONER_SERVER=http://localhost:4000
WEBCAPTIONER_BACKEND_PORT=4000
SOTRA_SERVER_CTRANSLATE_URL=http://webcaptioner-sotra-ctranslate:25000
SOTRA_SERVER_FAIRSEQ_URL=http://webcaptioner-sotra-fairseq:3000
VOSK_SERVER_URL=ws://host.docker.internal:2700

REACT_APP_YOUTUBE_REGION=reg1#cue1
# options: 'ctranslate', 'fairseq', 'passthrough'
REACT_APP_DEFAULT_SOTRA_MODEL=fairseq
REACT_APP_DEFAULT_YOUTUBE_TIME_OFFSET=8

REACT_APP_DEFAULT_VOSK_SAMPLE_RATE=48000
REACT_APP_MAX_LINES_IN_HISTORY=5

REACT_APP_SEND_TIMESTAMP=false
REACT_APP_SEND_TIMESTAMP_COUNT=0

MONGO_INITDB_ROOT_USERNAME=mojewuziwarskemjeno
MONGO_INITDB_ROOT_PASSWORD=mojeheslo
MONGODB_URI=mongodb://mojewuziwarskemjeno:mojeheslo@webcaptioner-ng-back-mongo
JWT_SECRET_KEY=mojtajnykluc
FREE_PASSWORD=lucija

DB_ADMIN_FIRSTNAME=Lucija
DB_ADMIN_LASTNAME=Zalozba
DB_ADMIN_EMAIL=lucija@zalozba.de
DB_ADMIN_PASSWORD=lucija

BAMBORAK_SERVER=http://host.docker.internal:8080

REACT_APP_RECORDING_INFORMATION_LINE=Nahrawa so!
REACT_APP_DEFAULT_AUDIO_FORMAT=mp3
