FRONTEND_WEBCAPTIONER_SERVER=http://localhost:4000
WEBCAPTIONER_BACKEND_PORT=4000
SOTRA_SERVER_CTRANSLATE_URL=http://webcaptioner-sotra-ctranslate:25000
SOTRA_SERVER_FAIRSEQ_URL=http://webcaptioner-sotra-fairseq:3000
# VOSK_SERVER_URL=ws://host.docker.internal:2700
CONFIG=/app/config

FRONTEND_YOUTUBE_REGION=reg1#cue1
# options: 'ctranslate', 'fairseq', 'passthrough'
FRONTEND_DEFAULT_SOTRA_MODEL=fairseq
FRONTEND_DEFAULT_YOUTUBE_TIME_OFFSET=8

FRONTEND_DEFAULT_VOSK_SAMPLE_RATE=48000
FRONTEND_MAX_LINES_IN_HISTORY=5

FRONTEND_SEND_TIMESTAMP=false
FRONTEND_SEND_TIMESTAMP_COUNT=0

MONGO_INITDB_ROOT_USERNAME=huhuhallo
MONGO_INITDB_ROOT_PASSWORD=jaabersicherdoch

MONGODB_USERNAME=webcaptioner_appuser
MONGODB_PASSWORD=auch_das_noch
MONGODB_DATABASE=webcaptioner
MONGODB_HOST=webcaptioner-ng-back-mongo:27017

JWT_SECRET_KEY=mojtajnykluc
FREE_PASSWORD=lucija

DB_ADMIN_FIRSTNAME=Lucija
DB_ADMIN_LASTNAME=Zalozba
DB_ADMIN_EMAIL=lucija@zalozba.de
DB_ADMIN_PASSWORD=lucija

BAMBORAK_SERVER=http://host.docker.internal:8080

FRONTEND_RECORDING_INFORMATION_LINE=Nahrawa so!
FRONTEND_DEFAULT_AUDIO_FORMAT=mp3
