REACT_APP_WEBCAPTIONER_SERVER=http://localhost:4000
REACT_APP_PASSWORD=lucija
WEBCAPTIONER_BACKEND_PORT=4000
SOTRA_SERVER_CTRANSLATE_URL=http://webcaptioner-sotra-ctranslate:25000
SOTRA_SERVER_FAIRSEQ_URL=http://webcaptioner-sotra-fairseq:3000
VOSK_SERVER_URL=ws://host.docker.internal:2700

REACT_APP_YOUTUBE_REGION=reg1#cue1
# options: 'ctranslate', 'fairseq', 'passthrough'
REACT_APP_DEFAULT_SOTRA_MODEL=fairseq
REACT_APP_DEFAULT_YOUTUBE_TIME_OFFSET=8

VOSK_SAMPLE_RATE=48000
VOSK_LOG_AUDIO=false
VOSK_SHOW_WORDS=True

REACT_APP_DEFAULT_VOSK_SAMPLE_RATE=48000
REACT_APP_MAX_LINES_IN_HISTORY=5

REACT_APP_SEND_TIMESTAMP=false
REACT_APP_SEND_TIMESTAMP_COUNT=0

MONGO_INITDB_ROOT_USERNAME=mojewuziwarskemjeno
MONGO_INITDB_ROOT_PASSWORD=mojeheslo
MONGODB_URI=mongodb://mojewuziwarskemjeno:mojeheslo@webcaptioner-ng-back-mongo
JWT_SECRET_KEY=mojtajnykluc
FREE_PASSWORD=lucija

BAMORAK_SERVER=


##################################################
# models that work with standard options
##################################################
# MODEL_PATH_FULL=/whisper/Korla/hsb_stt_demo/hsb_whisper/ggml-model.q8_0.bin
# MODEL_PATH_FULL=/whisper/ggml-model.bin
# MODEL_PATH_FULL=/whisper/ggml-model-0011-cp1800.bin
# MODEL_PATH_FULL=/whisper/ggml-model-0012-cp2200.bin
# MODEL_PATH_FULL=/whisper/ggml-model-0013-cp2400.bin
# MODEL_PATH_FULL=/whisper/ggml-model-0014-cp3100.bin
# MODEL_PATH_FULL=/whisper/ggml-model-0016-cp3800.bin
# VOSK_REPLACEMENT_FILE=/whisper/replacement_list.txt
# MODEL_PATH_FULL=/whisper/whisper_large_dilhtwd/ggml-model.bin
MODEL_PATH_FULL=/whisper/Korla/whisper_large_v3_turbo_hsb/ggml-model.bin

##################################################
# FHG models need extra config options
##################################################
#MODEL_PATH_FULL=/whisper/fhg/ggml-model_v3.bin
#VOSK_MODEL_LANGUAGE=czech
#VOSK_WHISPER_MAX_CONTEXT=0
#VOSK_WHISPER_DISABLE_TIMESTAMPS=True
